
.body {
	align: center;
	width: 960px;
	height: 400px;
	background-color: #FAFAFA;
	border: 2px solid black;
}

.text {
	float: left;
	width: 900px;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid black;
	font-family: lato;
	font-size: 16px;
}

button {
	float: left;
	width: 150px;
	height: 30px;
	margin-left: 30px;
	background-color: #FFFFFF;
	border: 1px solid black;
	font-family: lato;
	font-size: 16px;
	box-shadow: 2px 2px 4px grey;
}

h1 {
	font-family: Lato-bold;
	font-size: 30px;
}

h2 {
	font-family: Lato-regular;
	font-size: 20px;
}

p {
	font-family: Lato-regular;
	font-size: 14px;
	margin: 30px
}

